@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

body {
	@apply p-0 m-0;
	font-family: Inter;
}

.animate {
	color: theme('colors.red');
}

.main-url {
	color: theme('colors.grey');
	@apply font-black;
	font-size: 150px;
}

.linksIndex {
	color: theme('colors.darkGrey');
	@apply font-medium justify-between;
	font-size: 30px;
	top: -4vh;
	position: relative;
}

.linksIndex li {
	@apply mr-6;
}

.links {
	color: theme('colors.darkGrey');
	@apply font-medium justify-between;
	font-size: 30px;
}

.links li {
	@apply mr-6;
}

a {
	@apply transition duration-500 ease-in-out;
}

a:hover {
	color: theme('colors.grey');
}


.galleryImage {
	@apply w-full p-2
}